<!DOCTYPE html>
<html>
<head>
  <title>Sign to Voice</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
  <h1>🤟 Sign → 🎙️ Voice</h1>

  <div class="video-box">
    <img id="video" src="{{ url_for('video_feed', mode='voice', lang=lang) }}">
  </div>

  <div class="language">
    <select id="language">
      <option value="en">English</option>
      <option value="hi">Hindi</option>
      <option value="ta">Tamil</option>
      <option value="kn">Kannada</option>
      <option value="ml">Malayalam</option>
    </select>
  </div>
</div>

</body>
</html>
